@import "tailwindcss";


body {
  margin: 0;
  background-color: black;
  color: white;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

html {
  scroll-behavior: smooth;
}

/* @font-face {
  font-family: 'Stardos Stencil Regular';
  src: url('.assets/fonts/Stardos_Stencil/StardosStencil-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  
}
@font-face {
  font-family: 'Stardos Stencil Bold';
  src: url('.assets/fonts/Stardos_Stencil/StardosStencil-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
} */
@font-face {
  font-family: 'StardosStencil';           /* ← SAME NAME EVERYWHERE */
  src: url('./assets/fonts/Stardos_Stencil/StardosStencil-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'StardosStencil';           /* ← SAME NAME */
  src: url('./assets/fonts/Stardos_Stencil/StardosStencil-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('./assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: 400;
}
